* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #3D087B;
    height: 1000px;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: 600px 300px 600px;
    grid-template-rows: repeat(6, 70px);
    grid-column-gap: 100px;
    grid-row-gap: 20px;
    margin: 60px 50px 0px;
    width: auto;
  
  }
  
  #box1 {
    grid-column: 1/2;
    grid-row: 1/2;
  
  }
  
  #box2 {
    grid-column: 3/4;
    grid-row: 1/ span 2;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #3D087B;
    position: relative;
    right: 250px;
    /* background-color: aqua; */
  }
  
  .time-div1 {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    border-radius: 8px;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #tb1,
  #tb2,
  #tb3 {
    /* background-image: url(timeline.svg); */
    background-color: #57d6d6;
    width: 80px;
    height: 80px;
    /* margin-left: -1px; */
    text-align: center;
    
  }
  
  #ampm {
    /* background-image: url(./Assets/AM_svg\ \(1\).svg); */
    background-color:  #57d6d6;
    height: 60px;
    width: 60px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
  align-items: center;
  }
  #timeText{
    background-color: #57d6d6;
    height: 80px;
    width: 80px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
  align-items: center;
  }
  
  #hour {
    margin-left: 5px;
  }
  
  #minus {
    margin-left: -11px;
  }
  
  .time-div2 {
    width: 80%;
    height: 120px;
    background-color: rgba(252, 94, 255, 0.5);
    position: absolute;
    top: 4px;
    left: 64px;
    z-index: 2;
    border-radius: 8px;
  }
  
  .time-div3 {
    width: 70%;
    height: 130px;
    background-color: rgba(252, 94, 255, 0.2);
    position: absolute;
    top: 20px;
    left: 97px;
    z-index: 1;
    border-radius: 8px;
  }
  
  
  #box3 {
    background-color: white;
    border-radius: 5px;
    grid-column: 1/3;
    grid-row: 2/span 5;
    color: #3D087B;
    border-radius: 12px;
    width: 800px;
    box-shadow: 8px 8px black;
  }
  
  #flex {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  #selectImg {
    margin-left: -28px;
  }
  
  #select {
    color: #8a11bf;
  }
  
  #label {
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #wake-select,
  #lunch-select,
  #nap-select,
  #night-select {
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px;
    text-align: center;
  }
  
  .vertical-line {
    width: 1px;
    background-color: #c2c2c2;
    height: 36px;
    border: 1px solid #c2c2c2;
    margin-left: 72px;
    margin-top: 12px;
  }
  
  #box4 {
    background-color: rgb(107, 240, 149);
    /* grid-column: 3/4;
    grid-row: 3/4; */
    text-align: center;
    padding-top: 8px;
    font-size: 20px;
    color: #3D087B;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 12px;
    /* position: relative;
    right: 250px; */
    height: 75px;
    display: flex;
    justify-content: center;
  align-items: center;
    /* box-shadow: 8px 8px black; */
    margin-top: 170px;
    margin-left: 150px;
    width: 600px;
    
  }
  
  #box5 {
    /* background-color: rgb(112, 93, 200); */
    grid-column: 3/4;
    grid-row: 4/span 12;
    background-repeat: no-repeat;
    background-size: cover ;
    margin-right: 100px;
    box-shadow: 8px 8px black;
    position: relative;
    right: 100px;
    border-radius: 10px;
   
  }
  
  #box6 {
    background-color: #8a11bf;
    grid-column: 1/3;
    grid-row: 7/span 4;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    color: white;
    border-radius: 12px;
    width: 800px;
    box-shadow: 8px 8px black;
  }
  
  #box7 {
    grid-column: 1/2;
    grid-row: 11/span 3;
    text-align: center;
    color: #ffff;
    /* box-shadow: 8px 8px black; */
  }
  
  #box7 button {
    width: 100%;
    height: 100%;
    background: linear-gradient(#CB52FB, #fc5eff);
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    border-style: none;
    border-radius: 25px;
  }
  
  
  
  #box8 {
    background-color: rgba(203, 82, 251, 0.1);
    grid-column: 2/3;
    grid-row: 11/ span 7;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    box-shadow: 8px 8px black;
    /* margin-right: 100px; */
    position: relative;
    right: 50px;
  
  }
  
  /* media Query */
  /* for Mobile */
   @media only screen and (min-width:360px) and (max-width:600px) {
    .gridContainer {
      /* display: grid; */
      grid-template-columns: 900px;
      grid-template-rows: repeat(8, 100px);
      /* grid-row-gap: 30px; */
      margin: auto
    }
  
    #box1 {
      grid-column: 1/-1;
      grid-row: 1/2;
    }
  
    #box2 {
      grid-column: 1/-1;
      grid-row: 2/span 2; 
      /* width: 100%; */
      margin-left: 300px;
    } 
  
    #box3 {
      grid-column: 1/-1;
      grid-row: 5/span 4;
      width: auto;
      /* position: relative;
      top: 200px; */
    }
  
    #box4 {
      /* grid-column: 1/-1;
      grid-row: 4/5; */
      width: 100%;
      margin-bottom: 300px;
      position: relative;
      top: -200px;
      right: 150px;
    }
  
    #box5 {
      grid-column: 1/-1;
      grid-row: 20/span 18;
    }
  
    #box6 {
      grid-column: 1/-1;
      grid-row: 13/span 2;
      width: 100%;
    }
  
    #box7 {
      grid-column: 1/-1;
      grid-row: 10/span 2;
      width: 100%;
    }
  
    #box8 {
      grid-column: 1/-1;
      grid-row: 15/span 5;
      height: 130px;
padding-top: 30px;  
    }
  }
  
  /* //Responsiveness for tablet */
   @media only screen and (min-width:601px) and (max-width:1024px) {
    .gridContainer {
      display: grid;
      grid-template-columns: 750px 750px;
      grid-template-rows: repeat(4, 100px);
      grid-row-gap: 80px;
      grid: 10;
      margin: 70px 70px
    }
  
    #box1 {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  
    #box2 {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  
    #box3 {
      grid-column: 1/2;
      grid-row: 2/span 6;
      height: 550px;
      width: 900px;
      padding-top: 100px;
    }
  
    #box4 {
      grid-column: 2/3;
      grid-row: 2/3;
      
    }
  
    #box5 {
      grid-column: 2/3;
      grid-row: 3/span 9;
      margin: auto;
    }
  
    #box6 {
      grid-column: 1/2;
      grid-row: 8/10;
      
    }
  
    #box7 {
      grid-column: 1/2;
      grid-row: 10/11;
    }
  
    #box8 {
      grid-column: 1/2;
      grid-row: 11/span 2;
  
    }
  } 